{{ define "main" }}
<main class="main main--project">
  {{ partial "header" . }}
  <h1 class="project__title">{{ .Title }}</h1>
  {{ .Content }}
  <ul class="toc">
  {{ range .Pages.Reverse }}
    <li class="toc__item">
      <a href="#{{ .Slug }}">{{ .Title }}</a>
      <time class="post__date">({{ dateFormat "January 2006" .Date }})</time>
    </li>
  {{ end }}
  </ul>
  {{ range .Pages.Reverse }}
    {{ partial "post" . }}
  {{ end }}
</main>
{{ end }}
