.highlight pre {
  padding: 1em;
  font-family: monospace;
  font-size: 0.8em;
  white-space: pre;
  overflow: scroll;
  display: block;
  width: 100%;
}

p code {
  font-family: monospace;
  font-size: 0.8em;
  width: 100%;
}
