.main--homepage {
  min-height: 100Vh;
  display: flex;
  background-color: var(--color-body);
  color: var(--color-base);
  flex-direction: column;
  align-content: center;
  padding-bottom: var(--spacing-lg);
  .nav--primary {
    margin: auto;
  }
  .nav__item {
    @include media('<sm') {
      margin-bottom: var(--spacing-lg);
      width: 100%;
      text-align: center;
      margin-right: 0 !important;
      .text {
        margin-top: var(--spacing-sm);
      }
    }
  }
  .post__content {
    padding-bottom: 0;
  }
}

.homepage-info {
  width: 100%;
  max-width: var(--content-max-width);
  p:last-of-type {margin-bottom: 0;}
}
