.post__header {
  grid-area: header;
  @extend %header-border;
  @include media('>sm') {
    display: flex;
    align-items: baseline;
    justify-content: space-between;
    position: sticky;
    top: 0;
  }
  border-top: var(--border-sm) var(--color-base) dashed;
  background-color: var(--color-body);
  margin-bottom: 0;
  @extend %ts-title-1;
}
.header + .post .post__header {border-top-color: transparent;}
.post__date {
  @extend %ts-small;
}

.post__aside {
  grid-area: aside;
  .nav__list {
    flex-direction: column;
  }
  .nav--taxonomies .nav__link {
    @extend %ts-body;
    display: block;
    margin-bottom: var(--spacing-sm);
  }
}

.post__content {
  grid-area: content;
  padding-bottom: var(--spacing-lg);
  max-width: var(--content-max-width);
}

.post__content,
.post__aside {
  padding-top: var(--spacing-lg);
}

.post {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  grid-template-areas:
    "header header header"
    "aside content content";
  .main--about & {
    grid-template-areas:
      "header header header"
      "content content content";
  }
  @include media('<md') {
    grid-template-columns: 1fr;
    grid-template-areas:
      "header"
      "aside"
      "content";
  }
}
