.main--projects .index__list {
  @include media('>sm') {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    column-gap: var(--spacing-lg);
  }
  @include media('>md') {
    grid-template-columns: repeat(3, 1fr);
  }
  .index__item {
    display: block;
    img {
      display: block;
      width: 100%;
    }
  }
  .item__title {
    display: block;
    margin-top: var(--spacing-xs);
  }
}
