{{ $alt := .Get "title"}}
{{ $class := .Get "class"}}
{{ $caption := .Get "caption"}}
{{ with $.Page.Resources.GetMatch (.Get "src") }}
<figure class="{{ $class }}">
  <img
  src="{{ .RelPermalink }}"
  alt="{{ .Title }}"/>
  {{ if $caption }}<figcaption>{{ $caption }}</figcaption>{{ end }}
</figure>
{{ end }}

<!-- (.Resize "1800x q100") -->
