<!doctype html>
<html lang="en">
  <head>
    <meta charset=utf-8>
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <title property="schema:name">mdb FabLab Dok</title>
    <meta name="description" content="Maud Bausier - 6 months into a fablab">
    <meta property="schema:name" content="mdb FabLab Dok">
    <meta property="schema:description" content="Maud Bausier - 6 months into a fablab">
    
    <link rel="stylesheet" href="/css/main.min.00e37ffa2cbf6c642a5ea9986570b8348faf1ee2af3cad7432334b7422572aed.css">
  </head>
  <body>
    
  <div class="wrapper wrapper--single">
    <header class="header">
  <h1>
    
    <a href="/">mdb FabLab Dok</a> › <a href="/posts">Posts</a> › make a box
    
  </h1>
</header>

    <main class="main">
      <article class="detail detail--single">
  <header class="detail__header">
    <h1 class="title">make a box</h1>
    <nav class="nav nav--taxonomies">
  <ul class="nav__list">
    
    
    
    
    
    
  </ul>
</nav>

  </header>
  <section class="detail__content">
    <p>{% include image.html
file=&ldquo;/assets/images/CNC.jpg&rdquo;
alt=&ldquo;CNC-fablab&rdquo;
caption=&ldquo;CNC Machine at the Waag fablab&rdquo;
%}</p>

<p>Today (15.01.2019), Henk introduce us to this CNC machine.
So now, we need a project to use this one.. Connor and I really need something to storage our stuff here. So we think about make a box.</p>

<p>The previous intern made this one ☟ and it is very nice, with a &ldquo;clips&rdquo; system.</p>

<p>{% include image.html
file=&ldquo;/assets/images/internbox.jpg&rdquo;
alt=&ldquo;intern-box&rdquo;
caption=&ldquo;.&rdquo;
%}</p>

<p>{% include image.html
file=&ldquo;/assets/images/internboxzoom.jpg&rdquo;
alt=&ldquo;intern-box-zoom&rdquo;
caption=&ldquo;.&rdquo;
%}</p>

<p>I also like this website ☞ <a href="https://www.opendesk.cc/zero/pedestal#get-it-made">opendesk.cc</a> where you can download open plan designed by contributors to make furniture with a CNC machine with the idea of new model of open making.
For example, here is a <a href="https://www.opendesk.cc/zero/pedestal#get-it-made">pedestal</a> which can also be a good start to our own box.</p>

<p>In the same idea, <a href="http://libreobjet.org/">Libreobjet.org</a> is a group of designers and hackers. They all share a common question about open source industrial design, processes and products resulting from them work, with the aim of providing tools for accessing a free philosophy applied to the manufacture of objects. So there, you can  also download open plans and production guides. And even propose a new version or a new project !</p>

<p>here is a good read to learn a bit more about it : <a href="https://books.libreobjet.org/">Diverted Derived Design</a></p>

<hr />

<p>(18.01.2019)
I started to draw a prototype based of the model of the previous intern&rsquo;s box on freeCAD.</p>

  </section>
</article>

    </main>
    
  </div>

  </body>
</html>
