<!doctype html>
<html lang="en">
  <head>
    <meta charset=utf-8>
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title property="schema:name">{{ .Site.Params.siteTitle }} → {{ .Page.Title }}</title>
    <meta name="description" content="{{ .Site.Params.siteDescription }}">
    <meta property="schema:name" content="{{ .Site.Params.siteTitle }}">
    <meta property="schema:description" content="{{ .Site.Params.siteDescription }}">
    {{ $style := resources.Get "css/main.scss" | toCSS | minify | fingerprint }}
    <link rel="stylesheet" href="{{ $style.Permalink }}">
  </head>
  <body>
    {{ block "main" . }}{{ end }}
  </body>
</html>
