<nav class="nav nav--breadcrumb">
  <ul class="nav__list">
    {{ if eq .Kind "taxonomy" }}
    <li class="nav__item">
      <a href="/">{{ .Site.Title }}</a> › {{ .Data.Plural }}
    </li>
    {{ else if eq .Kind "term" }}
    <li class="nav__item">
      <a href="/">{{ .Site.Title }}</a> › <a href="/{{.Data.Plural}}/">{{.Data.Plural}}</a> › {{.Title}}
    </li>
    {{ else if .IsPage }}
    <li class="nav__item">
      <a href="/">{{ .Site.Title }}</a> › <a href="/posts">Posts</a> › {{.Title}}
    </li>
    {{ else }}
    <li class="nav__item">
      <a href="/">{{.Site.Title}}</a> › {{.Title}}
    </li>
    {{ end }}
  </ul>
</nav>
