<nav class="nav nav--primary">
  <ul class="nav__list">
      <li class="nav__item"><a href='{{ "/projects/" | relLangURL }}' title="Projects" class="nav__link"><span class="icon icon--project"></span><span class="text">projects</span></a></li>
    <li class="nav__item"><a href='{{ "/posts/" | relLangURL }}' title="Posts" class="nav__link"><span class="icon icon--post"></span><span class="text">last posts</span></a></li>
    <!-- <li class="nav__item"><a href='{{ "/categories/" | relLangURL }}' title="Categories" class="nav__link"><span class="icon icon--category"></span><span class="text">categories</span></a></li> -->
    <li class="nav__item"><a href='{{ "/tags/" | relLangURL }}' title="Tags" class="nav__link"><span class="icon icon--tag"></span><span class="text">tags</span></a></li>
    <li class="nav__item"><a href='{{ "about/" | relLangURL }}' title="About" class="nav__link"><span class="icon icon--about"></span><span class="text">about</span></a></li>
  </ul>
</nav>
