%container {
  padding-left: var(--spacing-lg);
  padding-right: var(--spacing-lg);
}

%header-border {
  padding-top: var(--spacing-md);
  padding-bottom: var(--spacing-md);
  border-bottom: var(--border-sm) var(--color-base) dashed;
  margin-bottom: var(--spacing-md);
  position: sticky;
  z-index: 98;
  top: 0;
}

.main {
  @extend %container;
  width: 100%;
  overflow-x: hidden;
  &--homepage {
    padding-top: var(--spacing-md);
  }
  padding-bottom: var(--spacing-xxl);
}

a {
  color: var(--color-base);
  text-decoration: none;
}

.post__content {
  img {
    max-width: 100%;
    width: auto;
  }
  a {
    text-decoration: underline;
  }
}
