:root {
  --color-base: #000000;
  --color-body: #FFFFFF;
  --font-size-base: 17px;
  --font-size-sm: 0.706rem;
  --font-size-md: 1rem;
  --font-size-lg: 1.294rem;
  --font-body: "inter-medium", Helvetica, Arial, sans-serif;
  --font-body-italic: "inter-medium-italic", Helvetica, Arial, sans-serif;
  --font-body-bold: "inter-bold", Helvetica, Arial, sans-serif;
  --font-body-bold-italic: "inter-bold-italic", Helvetica, Arial, sans-serif;
  --spacing-gutter: 1em;
  --spacing-xs: .25em;
  --spacing-sm: .5em;
  --spacing-md: 1em;
  --spacing-lg: 2em;
  --spacing-xl: 4em;
  --spacing-xxl: 6em;
  --border-sm: 1px;
  --border-md: 4px;
  --icon-project: "☼";
  --icon-post: "✎";
  --icon-category: "✿";
  --icon-tag: "∴";
  --icon-about: "☺";
  --content-max-width: 720px;
}


$breakpoints: (
  xs  : 320px,
  sm  : 768px,
  md  : 1024px,
  lg  : 1280px,
  xl  : 1440px,
  xxl : 1920px
);

%font-base {
  font-style: normal;
  font-weight: normal;
  line-height: 1.5;
}

%font-body {
  font-family: var(--font-body);
  @extend %font-base;
}

%font-body-italic {
  font-family: var(--font-body-italic);
  @extend %font-base;
}

%font-body-bold {
  font-family: var(--font-body-bold);
  @extend %font-base;
}

%font-body-bold-italic {
  font-family: var(--font-body-bold-italic);
  @extend %font-base;
}
